
.player {
    height: 55px;
    background: var(--ion-color-medium);
    font-family: 'Spotify';
    color: white;
    font-size: small;
}

.progress-bar{
    width: 100%;
    height: 2px;
    background: white;

}